@{
    ViewContext.HttpContext.Response.Headers.Add("Vary", "Hx-Request");
}
@if (ViewContext.HttpContext.Request.Headers["Hx-Request"].Contains("true"))
{
    <title hx-swap-oob=title>@ViewData["Title"] - Wayoprise</title>
    <text>@RenderBody()</text>
}
else
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Prototype.ModularMVC.App.Server</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Prototype.ModularMVC.App.Server.styles.css" asp-append-version="true" />
    </head>
    <body>
        <script src="~/lib/htmx/htmx.min.js"></script>
        <header>
            <partial name="Navigation/NavMenu.cshtml"></partial>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - Prototype.ModularMVC.App.Server - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>
}